<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regovar </title>




    <style>
        /* JSON highlighting */
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
</head>

<body style="background: #efeff1">

<pre id="json"/>
{% if type == "txt" %}
Preview: display first 1000 lines
{% else %}
No preview available for binary file
{% endif %}
</pre>


{% if type == "txt" %}
<pre id="json"/>
{% for line in data %}{{ line }}{% endfor %} 
</pre>
{% endif %}

</body>
</html>
