<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regovar </title>




    <style>
        /* JSON highlighting */
        pre {outline: 1px solid #ccc; padding: 5px; margin: 0; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
</head>

<body style="background: #efeff1">

{% if type == "txt" %}
<pre style="margin-bottom: 10px">
Preview: display first {{ data|length }} lines
</pre>
{% elif type == "bin" %}
<pre style="margin-bottom: 10px">
No preview available for binary file
</pre>
{% endif %}



{% if type == "txt" %}
<pre>
{% for line in data %}{{ line }}{% endfor %} 
</pre>
{% elif type == "img" %}
<img src="{{ data }}" />
{% endif %}

</body>
</html>
