aiohttp~=3.4.4
aiohttp-cors~=0.7.0
aiohttp-jinja2~=1.1.0
aiohttp-security~=0.4.0
aiohttp-session~=2.7.0
aiopg~=0.15.0
cryptography~=2.4.2
docker~=3.6.0
PyYAML~=3.13
passlib~=1.7.1
psutil~=5.4.8
psycopg2~=2.7.6.1
requests~=2.20.1
SQLAlchemy~=1.2.14

ped-parser~=1.6.6
pysam~=0.14.1
